@use '@angular/material' as mat;

// Carga el tema predeterminado de Angular Material
html {
  @include mat.all-component-themes(
    mat.define-theme()
  );
}

// Estilos base
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  color: #212121;
}

html, body {
  height: 100%;
}
